@*<!DOCTYPE html>*@
@*<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Courses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Courses.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Courses</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid col-xl-12">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Courses - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Courses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel =" stylesheet" href="~/css/site.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Courses</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        @if(User.Identity.IsAuthenticated)
            {
                @*@*<a class="btn btn-primary" type="button" asp-area="" asp-controller="Course" asp-action="GetCourses">Курсы</a>*@
                <div align="left"class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Course" asp-action="GetCourses">Курсы</a>
                    </li>
                    </ul>
                </div>
            }

        @if (!User.Identity.IsAuthenticated)
            {
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Вход/Регистрация</a>
                    </li>
                    </ul>
                </div>
            }
        @if (User.Identity.IsAuthenticated)
            {
               <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Выход" />
               </form>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">Выход</a>
                        </li>
                    </ul>
                </div>
            }
    </nav>
    </header>
    <div class="Acontainer">
        <div class="container-fluid col-xl-12">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="bg-dark text-white mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>О нас</h4>
                    <p>
                        Мы предлагаем широкий выбор онлайн курсов по различным темам,
                        которые помогут вам получить новые знания и навыки.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Контакты</h4>
                    <p>Телефон: +7 (123) 456-78-90</p>
                    <p>Email: info@courses.com</p>
                </div>
                <div class="col-md-4">
                    <h4>Ссылки</h4>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center bg-dark py-2">
            <p>&copy; 2021 Courses. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
